.pic{
  margin-left: -40px;
}

.aboutBtn{
  border: 1px solid rgba(122, 149, 201, 0.4);
  border-radius: 2rem;
    // font-size: 0.8rem;
    // font-weight: 600;
    // width: 10rem;
    // height: 3rem;
    // padding: 1rem 1rem;
}

.aboutBg{
  width: 3rem;
  height: 3rem;
  border-radius: 16px;
  background-color: #f16718;
  background-repeat: no-repeat;
  background-position: center;

}

.aboutIcon {
  transform: translate(29%, 50%);
  color: white;
  }

  .pic{
    border-radius: 50%;
    width: 50%;
    height: 50%;
  }

  .intro{
    position: relative;
  }