.pic{
  margin-left: -40px;
}

.aboutBtn{
  border: none;
  border-radius: 2rem;
  background-color: #dc3545;
  color: white;
}

.aboutBg{
  width: 3rem;
  height: 3rem;
  border-radius: 16px;
  background-color: #ffc107de;
  background-repeat: no-repeat;
  background-position: center;

}

.aboutIcon {
  transform: translate(29%, 50%);
  color: white;
  }

  .pic{
    border-radius: 50%;
    width: 50%;
    height: 50%;
  }

  .intro{
    position: relative;
  }