
// .intro{
//   background-image: url("../../public/images/banner_6.jpg");
// }


.obj_fit{
  object-fit: cover;
}

.adv_pic{
  height: 100px;
  width: 100px;
}

.rate_pic{
  border-radius: 100%;
  width: 70px;
  height: 70px;
}