
.navbar{
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.nav-link{
  text-align: center;
  border-bottom: 1px $light;
}

.cart-pic{
  width: 150px;
  height: 150px;
  margin: 0;
  padding: 0;
}

.product-img:hover{
  transform: scale(1.2);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
