.productHeader{
  background-image: url(../public/images/write.webp);
  background-position: center 80%;
  background-size: cover ;
  height: 300px;
  width: 100%;
}

.productTitle{
  color: #fff;
}

.breadcrumb-item{
  color: #b37c7c;
}